.officeProfileContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  max-width: 800px;
  margin: auto;
  margin-top: 70px;
}

.serviceSection, .expertiseSection, .projectsSection, .innovationSection {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

h2 {
  color: #000000;
}

p {
  color: #000000;
  line-height: 1.6;
}
